body {
    font-family:Raleway;
    font-size: 17px;
    background-image: url(../img/foodpattern.jpg);
    background-color: #9b9fdd;
    color: #09466B;
}

section {
    margin: 10px auto;
}

header img {
    background-color: #F0D3CE;
    border: 5px dotted #09466B;
    padding: 5px 5px;
}

h1, h3, h4, h5, h6 {
    font-family:"Fredericka the Great";
    color: #351111;
}

h1 {
    font-size: 50px;
}

h2 {
    font-family:"Fredericka the Great";
    font-size: 30px;
    color:#09466B;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-style: dotted;
}


header {
    text-align:center;
}

#hero, footer, h1 {
    text-align:center;
    color: #351111;
    background-color: #F0D3CE;
    border: 5px solid #351111;
    border-bottom-left-radius:30px;
    border-top-right-radius:30px;
    border-top-left-radius:30px;
    border-bottom-right-radius:30px;
    width: 400px;
    margin: 20px auto;
    padding: 5px 5px;
}

#hero img {
    width:300px;
}

#bio, #hobbies {
    text-align:center;
    background-color: #F0D3CE;
    border: 5px solid #351111;
    border-bottom-left-radius:30px;
    border-top-right-radius:30px;
    width: 400px;
    padding: 0 15px 0 15px;
}

#hobbies ul li:nth-child(even) {
    font-style: italic;
}
#hobbies ul li:nth-child(odd) {
    font-weight:bold
}

#hobbies ul li:nth-child(3n) {
    color:#A72F8E;
}

#hobbies ul li:nth-child(3n +1) {
    color:#AF6CD9;
}

#hobbies ul li:nth-child(3n + 2) {
    color: #6156C7;
}