body {
    font-family:Raleway;
    font-size: 17px;
    background-image: url(../img/foodpattern.jpg);
    background-color: #9ca0de;
    color: #09466B;
}

main {
    margin: auto;
}

/*

* {
    outline: 1px solid red; Red Guides
}

*/

section {
    margin: 10px auto;
}

section h2 {
    text-align: center;
}


/* header img {
    padding: 5px 5px;
} */

h1, h3, h4, h5, h6 {
    font-family:"Fredericka the Great";
    color: #351111;
}

h1 {
    color: whitesmoke;
    padding-left: 15px;
}

h2 {
    font-family:"Fredericka the Great";
    font-size: 30px;
    color:#09466B;
    text-decoration-style: double;
    margin: .1em;
}



 /* unvisited link */
 a:link {
    color: #B80071
  }
  
  /* visited link */
  a:visited {
    color: #6C20D6;
  }
  
  /* mouse over link */
  a:hover {
    color: #FF7556;
  }
  
  /* selected link */
  a:active {
    color: #00AFF5;
  } 

header {
    text-align:center;
}

/* footer, h1 {
    max-width: 700px;
} */

/*Hero Section*/


#hero, footer {
    text-align:center;
    color: #351111;
    background-color: #F0D3CE;
    border: 5px solid #351111;
    border-bottom-left-radius:30px;
    border-top-right-radius:30px;
    border-top-left-radius:30px;
    border-bottom-right-radius:30px;
    /* margin: 20px auto;
    padding: 5px 5px; */
}


#hero img {
    width:300px;
}

/*Bio Section*/


#bio, #hobbies {
    text-align:center;
    background-color: #F0D3CE;
    border: 5px solid #351111;
    border-bottom-left-radius:30px;
    border-top-right-radius:30px;
    border-bottom-right-radius:30px;
    border-top-left-radius:30px;
    /* padding: 0 15px 0 15px; */
    /* max-width: 400px; */
}


/* Hobbies Section */

/* #hobbies {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

/* Hobbies List */

#hobbies ul li:nth-child(even) {
    font-style: italic;
}
#hobbies ul li:nth-child(odd) {
    font-weight:bold
}

#hobbies ul li:nth-child(3n) {
    color:#751D64;
}

#hobbies ul li:nth-child(3n +1) {
    color:#084a64;
}

#hobbies ul li:nth-child(3n + 2) {
    color: #5349AB;
}

/* Video Section */

#video, #contact {
    background-color: #F0D3CE;
    border: 5px solid #351111;
    border-bottom-left-radius:30px;
    border-top-right-radius:30px;
    border-top-left-radius:30px;
    border-bottom-right-radius:30px;
    /* margin: 20px auto;
    padding: 10px 10px;
    margin-bottom: 2rem; */

}

/* .wrapper {
    margin: 0 auto;
    width: 100%;
} */

.videowrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0px;
}

.videowrapper iframe{
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    height: 100%;
    width: 100%;
}

.videocaption {
    font-size: 1.2rem;
}

/* Gallery Section */


#gallery, #artwork {
    background-color: #F0D3CE;
    border: 5px solid #351111;
    border-bottom-left-radius:30px;
    border-top-right-radius:30px;
    border-top-left-radius:30px;
    border-bottom-right-radius:30px;
    /* margin: 20px auto;
    padding: 5px 5px;
    margin-bottom: 2rem; */
}

#gallery img, #artwork img {
    max-width:100%;
}

/* Literature */

#lit {
    background-color: #F0D3CE;
    border: 5px solid #351111;
    border-bottom-left-radius:30px;
    border-top-right-radius:30px;
    border-top-left-radius:30px;
    border-bottom-right-radius:30px;
    /* margin: 20px auto;
    padding: 50px 50px;
    margin-bottom: 4rem; */
}




/* Dropcaps */

#lit div p:first-child::first-letter {
    color:#A72F8E;
    float:left;
    font-family:"Fredericka the Great";
    margin: 0.2em 0.3em 0.2em 0.2em;
    font-size: 1.5rem;
    border: 3px double;
    padding: 1px 3px;
    box-shadow: 4px 4px #09466B;
}





/* Contact Form */

#formelements {
    display:grid;
    row-gap:.5em;
}

/* #contact {
    padding: 1rem;
    max-width: 600px;
    margin: 2rem auto;
} */

fieldset {
    border: 2px dotted;
    margin-top:1em;
    margin-bottom:1em;
    border-radius: 2rem;
}

legend {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    font-style: italic;
    color: #751D64;
}

#contact input, #contact textarea, #contact button {
    padding:.5em;
    font-size: 1rem;
}

#contact ul {
    list-style:none;
    padding:0px;
}

#contact li {
    margin:1rem;
}

textarea {
    resize: vertical;
    max-height: 150px;
    min-height: 50px;
    font-family:Raleway;
    font-size: 17px;
}

#contact button {
    background-color:#62669e;
    color: white;
    border: 3px solid white;
    max-width: 400px;
    width: 60%;
    justify-self: center;
    border-radius: 2rem;
}


input:focus, textarea:focus {
    box-shadow: 0 0 4px rbga(255, 0, 0, 0.5);
    border: 3px solid #9ca0de;
}

input. {
    background-color: white;
}





/*************************** tablet size ****************************************/

@media screen and (min-width: 50em){


    main {
        display: grid;
        grid-template-columns: 50px 1fr 1fr 50px;
        justify-content: center;
        }

    #hero, #artwork, #gallery, #video, #contact, #article {
        grid-column: 2 / 4;
        width: 100%;
    }

    #hero img {
        width:400px;
    }

    #bio, #hobbies {
        height: 400px;
        width: 100%;
        grid-row-start: 2;
        grid-column-gap: 10px;
        grid-row-gap: 0em;

    }

    #bio {
        grid-column-start: 2;
        grid-column-end: span 1;
        border-top-right-radius:0px;
        border-bottom-right-radius:0px;
    }

    #hobbies {
        grid-column: 3/4;
        border-bottom-left-radius:0px;
        border-top-left-radius:0px;
        border-left: none;
    }


    figure {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }


    figcaption {
         display: flex;
         justify-content: center;
         align-items: center;
          font-size: 1.5rem;
    }
    
    figure img {
         width: 100%;
    }

    #lit div {
    max-width: 100%;
    columns: 20rem;
    }
}


/************************ large screen size ************************/

@media screen and (min-width: 1200px) {

    main {
        display: grid;
        grid-template-columns: 75px 1fr 1fr 1fr 75px;
        justify-content: center;
        align-items: center;
        max-width: 1200px;
    }

    #hero, #contact {
        grid-column-start: 2;
        grid-column-end: span 3;
        width: 100%;
    
    }

    #hobbies {
        grid-column-start: 4;
        grid-column-end: span 1;
    }

    #artwork {
        grid-column-start: 2;
        grid-column-end: span 2;
        grid-row-start: 3;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;;
    }
    #bio, #video {
        grid-column-start: 2;
        grid-column-end: span 2;
    }

    #video, #gallery {
        height: 100%;
    }
    
    #gallery {
        grid-column-start: 4;
        grid-column-end: span 1;
        grid-row-start: 3;
        grid-row-end: span 2;
    }
    
    #article {
        grid-column-start: 2;
        grid-column-end: span 3;
        width: 100%;
    }


    hr {
        display: none;
    }

    #gallery h2 {
        grid-column: 1/-1;
    }

    figure {
        display: block;
    }
}

